#number {
  background-color: #aaaaaa;
  height: 100px;
}

#incrButton {
  background-color: #aaaaaa;
  height: 100px;
}

.AAA {
  background-color: #ffaaaa;
  height: 100px;
}

.BBB {
  background-color: #aaffaa;
  height: 100px;
}

.CCC {
  background-color: #aaaaff;
  height: 100px;
}
